@media (max-width: 1085px) {
    .blog-posts img {
        height: 100%;
    }
}

@media (max-width: 1008px) {
    .our-friends {
        height: 500px;
    }

    .bottom-nav-wrapper {
        line-height: 180%;
    }
}

@media (max-width: 865px) {
    .text-nav li{
        display: none;
    }

    h1{
        font-size: 3rem;
        justify-content: left;
    }

    .icon-nav li {
        display: none;
    }

    .sandwhich-menu-01, .sandwhich-menu-02, .sandwhich-menu-03{
        position: relative;
        padding-left: 1.25em;
    }
    .sandwhich-menu-01, .sandwhich-menu-02, .sandwhich-menu-03 {
        content: "";
        position: absolute;
        right: 0;
        width: 3rem;
        height: 0.4rem;
        background: white;
    }
    .sandwhich-menu-02 {
        top: 1.5rem;
    }
    .sandwhich-menu-03 {
        top: 3rem;
    }

}

@media (max-width: 800px){
    .suzies-story {
        flex-direction: column;
        height: 100%;
    }
    .suzies-story button{
        margin: 1rem 12rem;
    }

    .suzies-story img{
        width: 60%;
        margin: 0 auto;
    }

    .suzies-story button{
        margin: 0 auto;
    }

    .our-friends .our-friends-text{
        margin-top: 0;
    }
    h2.our-friends-text {
        padding-top: 30px;
    }
    .parrot-img{
        display: none;
    }
    .our-friends ul li {
        width: calc(50% - 20px);
        padding: 25px;
    }
    .mid-banner{
        height: 100%;
    }
    .mid-banner .ul-wrapper {
        flex-direction: column;
        justify-content: center;
    }
    .mid-banner li {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
}
