@use "setup";

$funky-heading-text: 'Fredericka the Great', cursive;
$heading-text-button: 'Cormorant Garamond', serif;
$body-text: 'Roboto', sans-serif;

html {
  font-size: 125%;  
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #152d20;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


h1, h2 {
    font-family: $funky-heading-text
}

header {
    background-image: url(/styles/animal-land-assets/image-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

nav {
    display: flex;
}